$font_size: 20px;
$background_color: #f58f4e;
$color: #424140;
$hover_background_color: #2098d1;
$hover_color: #ffffff;

$animation_time: 1s;

.marquee{
    height: 100%;
    margin: 0px auto;
    overflow-y: hidden;

    // changable
    background: $background-color;
    border-radius: 20px;
    color: $color;
    //

    text-align: center;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;

    &:hover{
      // changable
      background-color: $hover_background_color;
      color: $hover_color;
      //
    }

    div{
        position :relative;
        font-size: $font_size;
        height: 100%;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.scroll_up{

        // animation
        // browser support
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation: upMove $animation_time;
        animation: upMove $animation_time;
}

@-webkit-keyframes upMove {
    0% {top: 0;}
    100%   {top: -100%;}
}


@keyframes upMove {
    0% {top: 0;}
    100%   {top: -100%;}
}
