$font_size: 20px;
$background_color: #f58f4e;
$color: #424140;
$border_radius: 20px;

$hover_background_color: #2098d1;
$hover_color: #ffffff;


.marquee{
    border-radius: $border_radius;


    height: 100%;
    margin: 0px auto;
    overflow-y: hidden;

    text-align: center;

    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
    div{
        background: $background-color;
        color: $color;
        font-size: $font_size;


        position :relative;
        height: 100%;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@-webkit-keyframes upMove {
    0% {top: 0;}
    100%   {top: -100%;}
}


@keyframes upMove {
    0% {top: 0;}
    100%   {top: -100%;}
}
